.App {
  background-color: aqua;
}

.header {
  margin: 0;
}

/* General styling */

.padding-10px-15px {
  padding: 10px 15px;
}

.cursor {
  cursor: pointer;
}

/* Flex styles */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.gap-10px {
  gap: 10px;
}
