.header h2 {
  margin: 0;
}

.link-style {
  display: inline-block;
}

.link-style::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.link-style:hover::after {
  width: 100%;
}
